.rps-original {
  padding: 40px 0 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 800px) {
    padding: 20px 0;
  }

  &__header {
    margin-bottom: 70px;
  }

  &__picking {
    background-image: url('../../public/static/images/bg-triangle.svg');
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 350px;
    min-height: 350px;
    width: 100%;
    height: 100%;
    margin: 120px auto;
    position: relative;

    button {
      position: absolute;
      border: 0;
      outline: 0;
      z-index: 1;
      border-radius: 100%;
      padding: 0;
      cursor: pointer;

      &[name="paper"] {
        top: -10%;
        left: -10%;

        &:hover {
          animation: tada;
          animation-duration: 1s;
        }
      }

      &[name="scissors"] {
        top: -10%;
        right: -10%;

        &:hover {
          animation: jello;
          animation-duration: 1s;
        }
      }

      &[name="rock"] {
        bottom: 0;
        left: 25%;

        &:hover {
          animation: bounce;
          animation-duration: 1s;
        }
      }

      .wrapper-chip {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: -1;
      }
    }

    @media screen and (max-width: 800px) {
      margin: 60px auto 0;
    }

    @media screen and (max-width: 425px) {
      max-width: 220px;
      min-height: 220px;
      margin: 100px auto 0;

      button {
        &[name="paper"] {
          top: -20%;
          left: -20%;
        }
  
        &[name="scissors"] {
          top: -20%;
          right: -20%;
        }
      }
    }
  }
}